{extend name="index_base" /}
{block name="seo"}
<title>{$site_config['site_title']}|{$site_config['seo_title']}</title>

<meta name="keywords" content="{$site_config['seo_keyword']}">
<meta name="description" content="{$site_config['seo_description']}">
{/block}
{block name="css"}
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/res.css"/>

{/block}
{block name="body"}
{include file="other/menu"}

<div class="wap12 mt20 bw " style="margin-top: 20px" >
    <div class=" themagor clearfix    ">
        <div class="fl  res-name ">
            <img title="{$vo.name}"
                 src="__ROOT__/public/images/ext/{$res.ext}.png">
        </div>
        <div class=" res-info-detail">
            <div class="res-detail-title"><span>{$res.name}</span></div>
            <div class="res-info-1"><span>文件名:
                <svg class="icon" aria-hidden="true">
                       <use xlink:href="{$res.ext|getExtIcon}"></use>
                 </svg> {$res.fname}</span>
                <!--<span>MD5值:{$res.md5}</span>-->
            </div>
            <div class="res-info-2">
                <span>文件大小:{$res.size|format_bytes}</span>
                <span>下载次数:{$res.download}</span>
                <span>下载积分:{$res.point}</span>
                <span class="res-praise" data-id="{$res.id}"><i
                        {php}if(in_array($res['id'],$zans))echo ('style="color:red"'); {/php} class="iconfont">&#xe611;</i>
                    <span>{$res.praise}</span>
               </span>
                <span class="res-download">下载<input type="hidden" id="isdownload" value="{$isdownload}"></span> </span>

            </div>
        </div>
    </div>
</div>
<div class="wap12 clearfix " style="margin-top: 20px">
    <div class="res-desc fl  ">
        <div class="recordCon brief-con bw" style="padding-bottom: 20px">
            <h4 class="res-Tit">{$res.name}简介</h4>
            <div class="slogBox">
                <div class="reexamCon">
                    {if condition="$res.desc eq ''"}
                    <p>暂无简介</p>
                    {/if}
                    {$res.desc}
                </div>
            </div>
        </div>

        <div class="res-comm bw">
            <div class="comment-list">
                {if condition="($tptc==null)"}
                暂无评论！
                {/if}
                {volist name="tptc" id="vo"}
                <div class="comment-unit">
                    <div class="comment-info">
                        <a target="_blank"  href="{:url('user/index/home',array('id'=>$vo.userid))}"><img src="__ROOT__{$vo.userhead}"
                                                                                                          width="30"  alt="{$vo.username}"/> <span>{$vo.username}</span></a> <span>{$vo.time|friendlyDate}</span>
                    </div>
                    <div class="comment-con">
                        <span>{$vo.content|clearHTMLhead}</span>
                    </div>
                    <div class="comment-op">
                        <span {php}  if(in_array($vo['id'],$comm_iszans))echo 'style="color:red"';{/php}  data-id="{$vo.id}" type="zan">
                        <i class="iconfont">&#xe611;</i>&nbsp;<span>{$vo.praise}</span>
                        </span>
                        <span type="reply"  data-id="{$vo.id}"  data-name="{$vo.username}"><i class="iconfont  ">&#xe644;</i>&nbsp;回复</span>
                        {if condition="$vo['userid'] eq session('userid')"}
                        <div class=" comm-edit">
                            <span type="edit"><a style="color:#999"  class="comm-ask-edit" data-id="{$vo.id}" target="_blank">编辑</a></span>
                        </div>
                        {/if}
                    </div>


                    <div class="reply-comment" id="comments">
                        {volist name="vo.reply" id="reply"}
                        <div class="comment-unit">
                            <div class="comment-info">
                                <a target="_blank"  href="{:url('user/index/home',array('id'=>$reply.rinfo.id))}"><img
                                        src="__ROOT__{$reply.rinfo.userhead}" width="30"></a><span>
                            <a target="_blank"   href="{:url('user/index/home',array('id'=>$reply.rinfo.id))}">
                                {$reply.rinfo.username}</a>&nbsp;回复&nbsp;<a target="_blank" href="{:url('user/index/home',array('id'=>$reply.pinfo.id))}">
                            {$reply.pinfo.username}</a></span><span>{$reply.time|friendlyDate}</span>

                            </div>
                            <div class="comment-con">
                        <span>{$reply.content|clearHTMLhead}
                        </span>
                            </div>
                            <div class="comment-op">
                                <span {php}  if(in_array($reply['id'],$comm_iszans))echo 'style="color:red"';{/php} data-id="{$reply.id}" type="zan">
                                <i class="iconfont">&#xe611;</i>&nbsp;<span>{$reply.praise}</span>
                                </span>

                                <span type="reply"  data-id="{$reply.id}"  data-name="{$reply.rinfo.username}"><i class="iconfont  ">&#xe644;</i>&nbsp;回复</span>
                                {if condition="$reply.rinfo.id eq session('userid')"}
                                <div class=" comm-edit">
                                    <span type="edit"><a style="color:#999"   data-id="{$reply.id}" class="comm-ask-edit"   target="_blank">编辑</a></span>
                                </div>
                                {/if}
                            </div>
                        </div>
                        {/volist}
                    </div>
                </div>
                {/volist}

            </div>
            <div class="fly-panel detail-box"  style="margin: 20px auto">
                <a name="comment" id="edit-mode"></a>
                <div id="pinglun" class="layui-form layui-form-pane">
                    <form method="post">
                        <div class="layui-form-item layui-form-text">
                            <div class="layui-input-block"  id="reply">
                                <span id="huifu"></span>
                                <textarea id="textarea" name="content" style="height:150px;width: 100%;"  ></textarea>
                                <input type="hidden" name="tid" value="0" id="tid" />

                            </div>
                        </div>
                        <div class="layui-form-item">
                            <button class="layui-btn submit-answer" lay-submit="" lay-filter="comment_add" style="background-color: rgb(23,179,241); border-radius: 5px">提交回答</button>
                            <button class="layui-btn submit-edit"   data-id="0" lay-filter="comment_edit" style="display:none;background-color: rgb(23,179,241); border-radius: 5px">更新</button>
                            <button class="layui-btn submit-edit-exit"   style="display:none;background-color: rgb(240,240,240); border-radius: 5px">取消</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>

    </div>
    <div class="pubRightBar fr bw " style=" width: 270px;margin-top: 30px">
        <div class="pubSchoolHot ">
            <h4 class="pubRightTit"><span>最新资源</span></h4>
            <ul class="hotSchoolList">
                {foreach  name="right_d" item="vo"  key="k"}
                <li class="num{$k+1} noBor"><a href="{:url('index/resource/detail',array('id'=>$vo.id))} "
                                               target="_blank">{$vo.name}</a>
                </li>
                {/foreach}
            </ul>
        </div>
    </div>
</div>


{/block}
{block name="js"}
<script type="text/javascript" src="__PUBLIC__/js/iconfont.js"></script>
<script type="text/javascript" src="__PUBLIC__/plugins/tinymce/tinymce.min.js"></script>

{/block}
{block name="script"}
<script type="text/javascript">
    futext('#textarea');

    layui.use('form', function() {
        var form = layui.form
            , jq = layui.jquery;
        jq('.res-praise').click(function () {
            var $this=jq(this);
            var id=jq(this).data('id')
            var t= jq(this).find('span').text()
            ajaxform({'id':id},'{:url("index/resource/zan")}',jq,function () {
                $this.find('i').css('color','red');
                $this.find('span').text(parseInt(t)+1)
            })
        })

        jq('span[type=zan]').click(function(){
            var idnum=jq(this).data('id');
            var obj=jq(this);
            jq.post('{:url("resource/commZan")}',{'id':idnum},function(data){
                if(data.code == 200){
                    jq(obj).css('color','red');
                    var intnum=parseInt(jq(obj).find('span').html());
                    jq(obj).find('span').html(intnum+1);
                    layer.msg(data.msg, {icon: 1, time: 1000}, function(){

                    });
                }else{

                    layer.msg(data.msg, {icon: 2, anim: 6, time: 1000});
                }
            });

        });


        jq('.comm-ask-edit').click(function(){
            jq(".submit-edit").unbind('click');
            var con=jq(this).parent().parent().parent().parent().find('.comment-con span').html()
            tinyMCE.activeEditor.setContent(con);
            jq('.submit-edit').show();
            jq('.submit-edit').data('id',jq(this).data('id'));
            jq('.submit-edit-exit').show();
            jq('.submit-answer').hide();
            jq('#edit-mode').html("<span style='color:#F7B824 ;font-size: 18px'>编辑模式</span>") ;
            jq("html,body").animate({scrollTop:jq ("#reply").offset().top},1000);
            jq('.submit-edit-exit').click(function () {
                jq('.submit-edit').hide();
                jq('.submit-edit-exit').hide();
                jq('.submit-answer').show();
                tinyMCE.activeEditor.setContent('');
                jq('#edit-mode').html('');
                return false;
            })
            jq('.submit-edit').click(function () {
                var aid=jq(this).data('id');
                var activeEditor = tinymce.activeEditor;
                var editBody = activeEditor.getBody();
                activeEditor.selection.select(editBody);
                var text = activeEditor.selection.getContent({'format': 'text'});
                var con= tinyMCE.activeEditor.getContent()
                console.log(text);
                if (text.trim()==''){
                    layer.msg('请输入必填项！', {icon: 2, time: 1000});
                    return false;
                }
                loading = layer.load(2, {
                    shade: [0.2,'#000']
                });
                var param = {
                    'content': con
                }
                jq.post('{:url("index/resource/updatecomms")}?rid='+aid,param,function(data){
                    if(data.code == 200){
                        layer.close(loading);
                        layer.msg(data.msg, {icon: 1, time: 1000}, function(){
                            location.reload();
                        });
                    }else{
                        layer.close(loading);
                        layer.msg(data.msg, {icon: 2, anim: 6, time: 1000});
                    }
                });
                return false;
            })


        });

        jq('span[type=reply]').click(function(){
            jq("html,body").animate({scrollTop:jq ("#reply").offset().top},1000);
            var idnum=jq(this).data('id');
            var htmlname='@'+ jq(this).attr('data-name');
            jq('#tid').val(idnum);
            jq('#huifu').html('<i style="color:#F7B824">'+htmlname+'</i>');

        });
        form.on('submit(comment_add)', function (data) {
            var activeEditor = tinymce.activeEditor;
            var editBody = activeEditor.getBody();
            activeEditor.selection.select(editBody);
            var text = activeEditor.selection.getContent({'format': 'text'});
            if (text.trim() == '') {
                layer.msg('请输入必填项！', {icon: 2, time: 1000});
                return false;
            }

            loading = layer.load(2, {
                shade: [0.2, '#000']
            });
            var param = {
                'data': JSON.stringify({
                    'content': tinyMCE.activeEditor.getContent()
                    , 'tid': jq('input[name=tid]').val()

                })
            }
            jq.post('{:url("index/resource/addcomms",array("id"=>$res.id))}', param, function (data) {
                if (data.code == 200) {
                    layer.close(loading);
                    layer.msg(data.msg, {icon: 1, time: 1000}, function () {
                        location.reload();
                    });
                } else {
                    layer.close(loading);
                    layer.msg(data.msg, {icon: 2, anim: 6, time: 1000});
                }
            });
            return false;
        });

        // if(($.browser.msie)|| $.browser.mozilla) {
        //     $d.get(0).click();
        // }else {
        //     window.open('__ROOT__{$res.data}');
        // }
        // var $eleForm = $("<form method='get' id='ddd'></form>");
        //
        // $eleForm.attr("action","__ROOT__{$res.data}");
        //
        // $(document.body).append($eleForm);
        //
        // //提交表单，实现下载
        // // $eleForm.submit();
        jq('.res-download').click(function () {
            var isd=jq('#isdownload').val();
            if (isd==1||isd=='1'){
                layer.confirm('此资源下载过了，可以直接下载！', {
                    btn: ['确定','取消'] //按钮
                }, function(){
                    var downloadEle=document.createElement('a');
                    downloadEle.setAttribute('href','__ROOT__{$res.data}' );
                    downloadEle.setAttribute('download','{$res.name}'+"_"+Date.now()+"_"+getRandom()+".{$res.ext}" );
                    downloadEle.click();
                    layer.closeAll()
                }, function(){
                    layer.closeAll()
                });
            } else{
                layer.confirm('下载此资源需要消耗{$res.point}积分，确定下载?', {
                    btn: ['确定','取消'] //按钮
                }, function(){
                    ajaxform({'point':'{$res.point}'}," {:url('index/resource/download',['id'=>$res.id])} ",jq,function (res) {
                        var downloadEle=document.createElement('a');
                        downloadEle.setAttribute('href','__ROOT__{$res.data}' );
                        downloadEle.setAttribute('download','{$res.name}'+"_"+Date.now()+"_"+getRandom()+".{$res.ext}" );
                        downloadEle.click();
                        layer.closeAll()
                    });
                }, function(){
                    layer.closeAll()
                });
            }

        })
    })

</script>
{/block}