{extend name="base" /}
{block name="body"}
	<div class="tpt—index fly-panel fly-panel-user">
<blockquote style="padding: 10px;border-left: 5px solid #009688;" class="layui-elem-quote">欢迎考研网后台管理系统，<span style="color:#FF5722;"></span></blockquote>

<blockquote style="padding: 10px;border-left: 5px solid #009688;" class="layui-elem-quote">系统信息：</blockquote>
<table width="100%">
<tr><td width="110px">程序版本</td><td>考研网1.0  </td></tr>
<tr><td>服务器类型</td><td>{:php_uname('s')}</td></tr>
<tr><td>PHP版本</td><td>{:PHP_VERSION}</td></tr>
<tr><td>Zend版本</td><td>{:Zend_Version()}</td></tr>
<tr><td>服务器解译引擎</td><td>{:$_SERVER['SERVER_SOFTWARE']}</td></tr>
<tr><td>服务器语言</td><td>{:$_SERVER['HTTP_ACCEPT_LANGUAGE']}</td></tr>
<tr><td>服务器Web端口</td><td>{:$_SERVER['SERVER_PORT']}</td></tr>
</table>
<table width="100%">
</table>
</div>
    {/block}
    {block name="script"}
    <script>
    layui.use(['layer','jquery'],function(){
    	  var jq = layui.jquery;
    	  
    	  
    	  jq('#update').click(function(){
    		  
    		  var url=jq(this).data('url');
    		    jq.getJSON(url,function(data){
    		    	  loading = layer.load(2, {
    		    	      shade: [0.2,'#000']
    		    	    });
    		    	
    		      if(data.code == 200){
    		        layer.close(loading);
    		        layer.msg(data.msg, {icon: 1, time: 1000}, function(){
    		          
    		        });
    		      }else{
    		        layer.close(loading);
    		        layer.msg(data.msg, {icon: 2, anim: 6, time: 1000});
    		      }
    		    });
    		    return false;
    	});

    	})
    </script>
        {/block}
    