{extend name="base" /}
{block name="css"}
<link rel="stylesheet" href="__ADMIN__/css/form.css">
{/block}
{block name="body"}
<div class="layui-tab layui-tab-brief">
    <ul class="layui-tab-title">
        <li class="layui-this">资源</li>
        <li>资源类别</li>
    </ul>


    <div class="layui-form form-container layui-tab-content">

        <div class="layui-tab-item layui-show">
            <div class="layui-box-searchber">
                <a href="{:url('admin/resource/add')}" class="layui-btn layui-btn-small">
                    <i class="layui-icon">&#xe608;</i>添加资源</a>
                <form class=" layui-form-pane" action="{:url('admin/resource/index')}" method="get">
                    <div class="layui-inline">
                        <label class="layui-form-label">关键词</label>
                        <div class="layui-input-inline">
                            <input type="text" name="keyword" value="{:session('resourcekeyword')}" placeholder="请输入关键词"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <button class="layui-btn  layui-btn-small">搜索</button>
                    </div>
                </form>
            </div>
            <hr>

            <table class="layui-table admin-table">
                <thead>
                <tr>
                    <th width="5%" align="center">ID</th>
                    <th width="20%" align="center">资源名称</th>
                    <th width="10%" align="center">是否显示</th>
                    <th width="10%" align="center">所属类别</th>
                    <th width="10%" align="center">添加时间</th>
                    <th width="10%" align="center">操作</th>
                </tr>
                </thead>
                <tbody>
                {volist name="resource" id="vo"}
                <tr>
                    <td align="center">{$vo.id}</td>
                    <td style="padding-left: 20px;"><a target="_blank"
                                                       href=" {:routerurl('index/resource/detail',array('id'=>$vo.id))} ">{$vo.name}</a>
                    </td>
                    <td align="center">
                        <input type="checkbox" name="show" lay-skin="switch" lay-text="显示|隐藏" lay-filter="switchopen"
                               value="{$vo['id']}" {php}echo $vo['show']==1 ? 'checked' : '';{/php}/>

                    </td>

                    <td align="center"><a target="_blank"  >{$vo.typename}</a>
                    </td>
                    <td align="center">{$vo.time|date="Y-m-d",###}</td>
                    <td align="center"><a class="layui-btn layui-btn-normal layui-btn-mini"
                                          href="{:url('resource/edit',array('id'=>$vo['id']))}">修改</a>
                        <a class="elementdel layui-btn layui-btn-danger layui-btn-mini" href="javascript:;"
                           data-id="{$vo.id}" data-url="{:url('admin/resource/delete',array('id'=>$vo['id']))}" title="删除">删除</a>
                    </td>
                </tr>
                {/volist}
                </tbody>
            </table>
        </div>
        <div class="layui-tab-item">
            <div class="layui-box-searchber">
                <a href="{:url('admin/ResourceType/add')}" class="layui-btn layui-btn-small">
                    <i class="layui-icon">&#xe608;</i>添加类别</a>
            </div>
            <table class="layui-table admin-table">
                <thead>
                <tr>
                    <th width="10%" align="center">ID</th>
                    <th width="30%" align="center">类别名称</th>
                    <th width="30%" align="center">添加时间</th>
                    <th width="30%" align="center">操作</th>
                </tr>
                </thead>
                <tbody>
                {volist name="types" id="vo"}
                <tr>
                    <td align="center">{$vo.id}</td>
                    <td style="padding-left: 20px;"><a target="_blank" href="  ">{neq name="vo.level"
                        value="1"}|{php}for($i=1;$i<$vo['level'];$i++){echo ' --';}{/php}{/neq} {$vo.name}</a></td>
                    <td align="center">{$vo.time|date="Y-m-d",###}</td>
                    <td align="center"><a class="layui-btn layui-btn-normal layui-btn-mini"
                                          href="{:url('ResourceType/edit',array('id'=>$vo['id']))}">修改</a>
                        <a class="elementdel layui-btn layui-btn-danger layui-btn-mini" href="javascript:;"
                           data-id="{$vo.id}" data-url="{:url('admin/ResourceType/delete',array('id'=>$vo['id']))}"
                           title="删除">删除</a>
                    </td>
                </tr>
                {/volist}
                </tbody>
            </table>
        </div>


    </div>
</div>

{/block}
{block name="page"}
<div class="btable-paged">
    <div class="layui-main">
        {$resource->render()}

    </div>
</div>
{/block}
{block name="js"}
<script type="text/javascript" src="__ADMIN__/js/delelement.js"></script>
{/block}
{block name="script"}

<script>
    layui.use('form',function(){
        var form = layui.form
            , jq = layui.jquery;
        var status = 0;
        form.on('switch(switchopen)', function (data) {
            loading = layer.load(2, {
                shade: [0.2, '#000']
            });
            if (data.elem.checked) {
                status = 1;
            } else {
                status = 0;
            }
            var url = "{:url('admin/Resource/toggle')}?id=" + data.value + '&status=' + status + '&name=show';
            console.log(url)

            jq.get(url, function (data) {

                if (data.code == 200) {
                    layer.close(loading);
                    layer.msg(data.msg, {icon: 1, time: 1000}, function () {
                        //  location.reload();
                    });
                } else {
                    layer.close(loading);
                    layer.msg(data.msg, {icon: 2, anim: 6, time: 1000});
                }
            });
            return false;
        });



    })
    layui.use(['element','jquery'], function(data) {
        var element = layui.element
            ,$ = layui.jquery;//导航的hover效果、二级菜单等功能，需要依赖element模块

    })
</script>
{/block}